/* Color palette: #000000 , #14213D , #FCA311, #E5E5E5 , #FFFFFF */
palette{
    color: #000000;
    color: #14213D;
    color: #FCA311;
    color: #E5E5E5;
    color: #FFFFFF;
}

html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    margin: 0 auto;
    height: 150px;

    width: 100%;

    text-align: center;
    background-color: #000000;
    color: #E5E5E5;
    position: relative;
}
.page-header{
    height: inherit;
    /* width: inherit; */
    width: 100%;

    margin: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    position: absolute;
    bottom: 0;

    width: 100%;

    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar ul{
    /* position: sticky; */
    /* top: 1px; */
    margin: 16px 0 8px 0;
    /* height: 30px; */
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav-bar li{
    display: inline;
    border: 1px solid #FFFFFF;
    background-color: #14213D;
    padding: 5px 7px;
    margin: 0 10px;
    border-radius: 5px;
}
.nav-bar li a{
    color: #FFFFFF;
    text-decoration: none;
}
.nav-bar li a:hover{
    text-shadow: 1px 1px 10px #FCA311;
}

